<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Canto Estatístico | A melhor ferramena de análise para mercado de canto do futebol.</title>
  </head>
  <body>
    <noscript>
      <strong> <img src="./img/praq.jpg"><br><br> Ativa esse JavaScript ai rapai kkk</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
