<template>
  <div id="mainDiv"  class="is-flex is-flex-direction-column is-justify-content-space-between">
    <Menu/>
    <div class="is-flex is-flex-direction-column is-align-items-center">
      <div class="card mt-5 mb-5">
        <div class="card-content">
          <div class="content is-flex is-flex-direction-column is-align-items-center">
            <img src="../assets/img/ok.svg" alt="" srcset="" width="50" height="50">
            <h3 id="titleCard" class="is-size-5">Conta ativada!</h3>
            <h3 id="titleCard" class="is-size-3 mb-5">Você está quase lá!</h3>
            <p id="descriptionCard" class="has-text-center">Para realizar o pagamento da sua assinatura, basta clicar no botão abaixo e solicitar ao nosso suporte pelo telegram, os meios de pagamento.</p>
            <p id="descriptionCard" class="has-text-center">Lembrando que não solicitamos dados bancários.</p>
            <a class="button is-medium is-success" :href='supportPayment' target="_blank">Conversar com suporte no Telegram.</a>
          </div>
        </div>
      </div>
    </div>z
    <Footer/>
  </div>
</template>

<script>
import Menu from '../components/Menu';
import Footer from '../components/Footer';
export default {
  components: {
    Menu,
    Footer
  },
  data(){
    return {
      supportPayment: '',
    }
  },
  mounted(){
    const data = JSON.stringify({ref: 'configs', sref: 'paymentLinkContact'});
    this.$store.dispatch('getConfig', data).then( (res) => {
      this.supportPayment = res.data.value;
    });
  }
}
</script>

<style lang="scss" scoped>
  #mainDiv { 
    width: 100%;
    height: 100vh;
    background-color: #000000;
  }
  #titleCard {
    margin: 10px 0px;
    text-align: center;
  }
  #descriptionCard {
    text-align: center;
    font-size: 20px;
  }
  .card {
    max-width: 90%;
    border: none;
    border-radius: 5px;
  }
  .card-content {
    background-color: #19191a;
    color: #ffffff;
  }
  .content h3 {
    color: #ffffff;
  }
  /* Medium devices */
  @media (min-width: 769px) {
    .card {
      width: 48%;
    }
  }

  /* Large devices */
  @media (min-width: 1024px) {
    .card {
      width: 40%;
    }
  }

  /* X-Large devices */
  @media (min-width: 1216px) {
    .card {
      width: 40%;
    }
  }

  /* XX-Large devices */
  @media (min-width: 1408px) {
    .card {
      width: 28%;
    }
  }
</style>