<template>
  <div id="mainDiv">
    <Menu />
    <section id="cover-section" class="container is-flex is-flex-direction-column is-justify-content-start is-align-items-start">
      <h1>A melhor <strong class="green-funil-dashboard">plataforma de análise</strong> para <strong class="green-funil-dashboard">mercado de cantos</strong>.</h1>
      <p>Baseado em uma estratégia sólida no mercado, testada e comprovada por mais de 10 mil alunos.</p>
      <p>Pare de contar com a sorte e adquira sua independência no mercado de apostas.</p>
      <div class="is-flex mt-3">
        <a @click="showModal('modalRegister')" id="btnRegister" class="button is-success">Registrar-se</a>
        <router-link to="/login" custom v-slot="{ navigate }">
          <a @click="navigate" id="btnLogin" class="button is-light">Já tenho conta</a>
        </router-link>
      </div>
    </section>
    <section class="leads container is-flex is-flex-direction-column is-align-items-center">
      <div class="columns">
        <div class="column is-flex is-flex-direction-column is-align-items-center">
          <h3>Como a Canto Estatístico funciona?</h3>
          <p>A estratégia é calculada automaticamente pela Canto Estatístico conforme os jogos vão acontecendo, tudo isso em apenas uma tela.</p>
          <p>Assim que os parâmetros estiverem dentro do esperado, a Canto Estatístico os destacará em verde e caso haja uma possibilidade de entrada, aparecerá um emoticon indicando as possíveis entradas naquele momento.</p>
        </div>
        <div class="column is-two-fifths is-flex is-justify-content-center">
          <img src="../assets/img/note2.png">
        </div>
      </div>
    </section>
    <section id="section-functions-tool" class="container is-flex is-flex-direction-column is-align-items-center">
      <h3>O que terei acesso?</h3>
      <div class="is-flex is-flex-direction-column is-align-items-center">
        <div class="card">
          <div class="card-content">
            <div class="media is-flex is-justify-content-center">
              <div class="media-centered">
                <figure class="image is-48x48">
                  <img src="../assets/img/business-report.svg">
                </figure>
              </div>
            </div>
            <div class="content has-text-centered">
              Dashboard completa com os parâmetros da estratégia calculados automaticamente, para te auxiliar durante suas análises de centenas de jogos ao mesmo tempo.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-content is-flex is-flex-direction-column is-align-content-center">
            <div class="media is-flex is-justify-content-center">
              <div class="media-centered">
                <figure class="image is-48x48">
                  <img src="../assets/img/telegram.svg">
                </figure>
              </div>
            </div>
            <div class="content has-text-centered">
              Acesso ao grupo do Telegram somente para assinantes da Canto Estatístico, para que possam discutir as análises em tempo real.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-content is-flex is-flex-direction-column is-align-content-center">
            <div class="media is-flex is-justify-content-center">
              <div class="media-centered">
                <figure class="image is-48x48">
                  <img src="../assets/img/support.svg">
                </figure>
              </div>
            </div>
            <div class="content has-text-centered">
              Suporte em horário comercial via Telegram, para dúvidas de utilização e etc.
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="container">
      <div class="columns">
        <div id="section-price" class="column is-two-fifths is-flex is-flex-direction-column is-align-items-center">
          <h3>Quanto custa?</h3>
          <div class="card">
            <div class="card-content is-flex is-flex-direction-column is-align-content-center">
              <div class="media is-flex is-justify-content-center">
                <div class="media-centered">
                  <figure class="image is-24x24">
                    <img src="../assets/img/money-tag.svg">
                  </figure>
                </div>
              </div>
              <h3 class="promoTitle">PROMO LANÇAMENTO</h3>
              <div class="content is-flex is-flex-direction-column is-align-items-center">
                <div  class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
                  <p class="m-0">De:</p>
                  <p class="futurePrice">
                    <s class="is-flex">
                      R$
                      <p>100</p>
                      /mês
                    </s>
                  </p>
                </div>
                <div class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center mb-5">
                  <p class="m-0">Por:</p> 
                  <span class="is-flex is-justify-content-center is-align-items-center">
                    R$
                    <p class="format-price">50</p>
                    /mês
                  </span>
                </div>
                <ul class="price-list">
                  <li class="price-list-item">Dicas e tutoriais de utilização e análise.</li>
                  <li class="price-list-item">Chat privado para análises em grupo.</li>
                  <li class="price-list-item">Suporte em horário comercial via Telegram.</li>
                  <li class="price-list-item">7 dias de garantia incondicional.</li>
                </ul>
                <div class="buttons is-flex is-justify-content-center">
                  <a @click="showModal('modalRegister')" id="btnRegister" class="button is-success">Começar agora</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="section-feedback" class="column is-flex is-flex-direction-column is-justify-content-start is-align-items-center">
          <h3>Perguntas e respostas</h3>
          <div class="question is-flex is-justify-content-space-between is-align-items-center">
            <p>Afinal de contas o que é a Canto Estatístico?</p>
            <button @click="showModal('question1')" class=" button">Ver</button>
          </div>
          <div id="question1"  class="modal">
            <div @click="removeModal('question1')" class="modal-background"></div>
            <div class="modal-card">
              <section class="modal-card-body">
                <div class="is-flex is-justify-content-end">
                  <button @click="removeModal('question1')" class="delete" aria-label="close"></button>
                </div>
                <p>A Canto Estatístico é uma PLATAFORMA DE ANÁLISE FOCADA NO MERCADO DE CANTOS DE FUTEBOL.</p>
              </section>
            </div>
          </div>

          <div class="question is-flex is-justify-content-space-between is-align-items-center">
            <p>Será ensinado como analisar através da ferramenta?</p>
            <button @click="showModal('question3')" class=" button">Ver</button>
          </div>
          <div id="question3"  class="modal">
            <div @click="removeModal('question3')" class="modal-background"></div>
            <div class="modal-card">
              <section class="modal-card-body">
                <div class="is-flex is-justify-content-end">
                  <button @click="removeModal('question3')" class="delete" aria-label="close"></button>
                </div>
                <p>Sim! Passaremos todos as estratégias e as dicas de análise em nosso grupo no telegram.</p>
              </section>
            </div>
          </div>

          <div class="question is-flex is-justify-content-space-between is-align-items-center">
            <p>Qual a taxa de acerto da estratégia?</p>
            <button @click="showModal('question4')" class=" button">Ver</button>
          </div>
          <div id="question4"  class="modal">
            <div @click="removeModal('question4')" class="modal-background"></div>
            <div class="modal-card">
              <section class="modal-card-body">
                <div class="is-flex is-justify-content-end">
                  <button @click="removeModal('question4')" class="delete" aria-label="close"></button>
                </div>
                <p>Estatistíca não é lei da física, por isso é muito importante que você desenvolva sua capacidade de análise dos jogos conforma eles forem ocorrendo(ensinamos no grupo).
                <br><br> Somando a estratégia com a capacidade de análise, você irá ganhar mais do que perder.
                </p>
              </section>
            </div>
          </div>

          <div class="question is-flex is-justify-content-space-between is-align-items-center">
            <p>Como entrar em contato com o suporte?</p>
            <button @click="showModal('question5')" class=" button">Ver</button>
          </div>
          <div id="question5"  class="modal">
            <div @click="removeModal('question5')" class="modal-background"></div>
            <div class="modal-card">
              <section class="modal-card-body">
                <div class="is-flex is-justify-content-end">
                  <button @click="removeModal('question5')" class="delete" aria-label="close"></button>
                </div>
                <p>Através do Telegram @cantoestatistico</p>
              </section>
            </div>
          </div>
          <div class="question is-flex is-justify-content-space-between is-align-items-center">
            <p>Possui algum grupo gratuito?</p>
            <button @click="showModal('question6')" class=" button">Ver</button>
          </div>
          <div id="question6"  class="modal">
            <div @click="removeModal('question6')" class="modal-background"></div>
            <div class="modal-card">
              <section class="modal-card-body">
                <div class="is-flex is-justify-content-end">
                  <button @click="removeModal('question6')" class="delete" aria-label="close"></button>
                </div>
                <p>Sim! No telegram @cantoestatisticofreetips</p>
              </section>
            </div>
          </div>
        </div>
      </div>
    </section>
    <Footer />
  </div>
</template>

<script>
import Menu from '../components/Menu';
import Footer from '../components/Footer';
export default {
  components: {
    Menu,
    Footer
  },
  data(){
    return {
      supportContact: '',
    }
  },
  methods: {
    showModal(id){
      const modal = document.getElementById(id);
      modal.classList.toggle('is-active');
    },
    removeModal(id){
      const modal = document.getElementById(id);
      modal.classList.remove('is-active');
    },
  }
};
</script>

<style lang="scss" scoped>
  @import '../assets/css/buttons.scss';
  @import '../assets/css/colors.scss';

  #mainDiv {
    background-color: #000000;
  }

  #cover-section {
    width: 100%;
    min-height: 300px;
    padding: 20px;
    background-color: #000000;
    background-image: url('../assets/img/bk2.jpg');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    background-size: 300px 280px;
    margin-bottom: 30px;
      h1 {
        color: #ffffff;
        font-size: 48px;
        font-weight: 500;
        line-height: 46px;
        margin-bottom: 15px;
      }
      p {
        color: #bebebe;
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        margin-bottom: 10px;
        width: 83%;
      }
  }

  .leads {
    margin-bottom: 30px;
    h3 {
      color: #ffffff;
      font-size: 30px;
      font-weight: 500;
      line-height: 40px;
      margin-bottom: 18px;
      text-align: center;
      width: 80%;
    }
    p {
      color: rgb(190, 190, 190);
      text-align: center;
      font-size: 16px;
      margin-bottom: 10px;
      width: 82%;
    }
    img {
      max-width: 88%;
    }
    &.background {
      background-image: url('../assets/img/flagColombia.png');
      background-repeat: no-repeat;
      background-position: right bottom;
      background-size: contain;
      background-position-x: 115%;
      background-position-y: -110%;
    }
  }
  
  #section-functions-tool {
    margin-bottom: 20px;
    h3 {
      color: #ffffff;
      font-size: 30px;
      font-weight: 500;
      line-height: 40px;
      margin-bottom: 18px;
      text-align: center;
    }
    .card {
      max-width: 80%!important;
      border: none;
      margin-bottom: 10px;
      min-width: 250px!important;
      max-width: 312px!important;
      min-height: 288px!important;
      background-color: #19191A;
      color: #ffffff;
      
    }
  }

  #section-price {
    margin-bottom: 30px;
    h3 {
      color: #ffffff;
      font-weight: 500;
      font-size: 32px;
      text-align: center;
      margin: 0 0 24px 0
    }
    .card {
      max-width: 80%!important;
      border: none;
      margin-bottom: 20px;
      min-width: 250px!important;
      max-width: 312px!important;
      min-height: 288px!important;
      background-color: #19191A;
      color: #ffffff;
      .media {
        margin-bottom: 5px!important;
      }
      .promoTitle {
        font-size: 30px;
        line-height: 30px;
        margin: 0 0 20px 0;
        text-align: center;
      }
      .futurePrice {
        margin: 0;
        font-size: 18px;
      }
      .format-price {
        font-size: 90px;
        margin: 0;
        line-height: 80px;
      }
      .price-list {
        list-style: none;
        text-align: center;
        margin: 0px 0px 20px 0px!important;
        .price-list-item {
          background-color: #000000;
          padding: 2px;
          border-radius: 10px;
        }
      }
    }
  }

  #section-feedback {
    h3 {
      color: #ffffff;
      font-weight: 500;
      font-size: 32px;
      text-align: center;
      margin: 0 0 24px 0
    }
    #questions {
      width: 100%;
    }
    .question {
      width: 95%;
      padding: 5px;
      border-radius: 5px;
      background-color: #19191A;
      margin-bottom: 10px;
      p {
        color: #ffffff;
        font-size: 18px;
      }
      .button {
        background-color: #000000;
        border: none;
        border-radius: 5px;
        color: #ffffff;
      }
    } 
    .modal-card-body {
      background-color: #19191A;
      font-size: 20px;
      color: #ffffff;
      margin: 0 10px 0 10px;
    }
  }

  /* Medium devices (tablets, 769px and up) */
  @media (min-width: 769px) {
    #cover-section {
      padding: 20px;
      h1 {
        width: 80%;
      }
      p {
        width: 64%;
      }
    }
    
    .leads {
      h3 {
        font-size: 36px;
      }
      p {
        font-size: 18px;
        width: 50%;
      }
      &.background {
      background-position-x: 105%;
      background-position-y: -110%;
    }
    }

    #section-functions-tool {
      h3 {
        font-size: 36px;
      }
    }
  }

  /* Large devices (desktops, 1024px and up) */
  @media (min-width: 1024px) {
    section {
      margin-bottom: 100px!important;
    }
    #cover-section {
      background-position-x: 105%;
      background-size: 45%;
      background-position-y: -30%;
      padding: 20px 20px 20px 0;
      h1 {
        width: 66%;
        font-size: 56px;
        line-height: 58px;
      }
      p {
        width: 54%;
        font-size: 20px;
      }
    }

    .leads {
      align-items: flex-start!important;
      h3 {
        text-align: left;
        font-size: 42px;
      }
      p {
        width: 50%;
        text-align: left;
        font-size: 20px;
      }
      .columns {
        .column {
          h3 {
            text-align: left;
            font-size: 42px;
            width: 100%;
          }
          p {
            width: 100%;
            text-align: left;
            font-size: 22px;
          }
          img {
            width: 400px;
            height: 382px;
            object-fit: contain
          }
        }
      }
    }

    #section-functions-tool {
      h3 {
        text-align: left;
        margin-bottom: 54px;
        font-size: 42px;
      }
      div {
        flex-direction: row!important;
        justify-content: start;
        .card {
          margin-right: 50px;
          .card-content {
            flex-direction: column!important;
          }
        }
      }
    }

    #section-price {
      align-items: flex-start!important;
      h3 {
        font-size: 42px;
        text-align: left;
      }
    }

    #section-feedback {
      h3 {
        font-size: 42px;
      }
      .card {
        min-width: 100%;
        min-height: 100px;
      }
    }
  }

  /* X-Large devices (large desktops, 1216px and up) */
  @media (min-width: 1216px) {
    section {
      margin-bottom: 150px!important;
    }
    #cover-section {
      background-position-x: 105%;
      background-size: 45%;
      background-position-y: -30%;
      padding: 20px 20px 20px 0;
      h1 {
        width: 66%;
        font-size: 66px;
        line-height: 58px;
      }
      p {
        width: 44%;
        font-size: 30px;
        line-height: 38px;
      }
    }

    .leads {
      align-items: flex-start!important;
      h3 {
        text-align: left;
        font-size: 48px;
      }
      p {
        width: 40%;
        text-align: left;
        font-size: 24px;
      }
      .columns {
        .column {
          h3 {
            text-align: left;
            font-size: 42px;
            width: 100%;
          }
          p {
            width: 100%;
            text-align: left;
            font-size: 22px;
          }
          img {
            width: 500px;
            height: 382px;
            object-fit: contain
          }
        }
      }
    }
  }
</style>
