<template>
  <div>
    <section class="is-flex is-flex-direction-column is-align-items-start">
      <h4 class="is-size-3 mb-4">Fala {{userInfo.firstName}}, tudo bem?</h4>
      <p class="is-size-5">Antes de começar, gostaríamos de te agradecer por ter se juntado a nós e também, gostaríamos de te passar um feedback de como as coisas estão por aqui. <br><br></p>
      <p class="is-size-5">No que diz respeito as funcionalidades da dashboard, atualmente nós temos: <br><br></p>
      <p class="is-size-5"><b>Dahsboard dos jogos ao vivo, aonde:</b><br><br></p>
      <p class="is-size-5">- As estatísticas dos jogos assim como os parâmetros do funil, são atualizados aproxidamente a cada ~30 segundos(Observações abaixo). Mas nossa intenção futura é de trabalhar com atualizações quase que em tempo real.<br><br></p>
      <p class="is-size-5">- Obs: Nossos dados são obtidos de serviços terceiros, logo, os dados e o tempo de atualização podem sofrer instabilidades, mas em diversos testes realizados por nós, observamos uma confiabilidade extremamente alta nas informações fornecidas, e sempre estaremos monitorando nossos serviços para garantir pleno funcionamento.<br><br></p>
      <p class="is-size-5"><b>Grupo privado no Telegram:</b><br><br></p>
      <p class="is-size-5">- Nele você poderá com os outros assinantes da dashboard, discutir as análises em tempo real e comemorar seus greens(PAGAAA DENISE! haha).<br><br></p>
      <p class="is-size-3">O que está por vir?(Muito em breve)<br><br></p>
      <p class="is-size-5"> - Grupo no Telegram aonde serão enviados alertas informando quais jogos estão dentro dos parâmetros do funil.<br><br></p>
      <p class="is-size-3"><b>Mas o mais importante... 2 coisas na verdade...</b><br><br></p>
      <p class="is-size-5">1 - O Ruy Colombia não possui qualquer compromisso e obrigação com os assinantes da Funil Dashboard, logo, quaisquer problemas relacionados a mesma, devem ser tratados com nosso suporte através do Telegram @funildashboard.</p>
      <br><br>
      <p class="is-size-5"> 2 - Gostaríamos muito que você fizesse parte do desenvolvimento da nossa plataforma através de feedbacks. <br><br>Caso não tenha gostado de algo, fique a vontade para nos dar um feedback sincero sobre como podemos melhorar. Sua opinião é muito importante pra nós.<br><br></p>
      <p class="is-size-5"> Obrigado por ter chegado até aqui e boas apostas. Tmj! ;)<br><br></p>
      <button @click="goLive" class="button is-success is-medium">Ir para os jogos ao vivo</button>
    </section>
  </div>
</template>

<script>
export default {
  computed:{
    userInfo(){
      return this.$store.getters.getUserInfo;
    }
  },
  methods: {
    goLive(){
      return this.$router.push('live');
    }
  }
}
</script>

<style scoped>
  section {
    width: 90%;
    padding: 15px;
    color: #e1e1e1;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border: 1px solid #1f1f1f;
    border-radius: 15px;
  }
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 769px) {
    
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 1024px) {
   section {
    width: 70%;
   }
  }

  /* X-Large devices (large desktops, 1200px and up) */
  @media (min-width: 1216px) {
    section {
      width: 60%;
    }
  }

  /* XX-Large devices (larger desktops, 1400px and up) */
  @media (min-width: 1408px) {
    section {
      width: 50%;
    }
  }
</style>