<template>
  <section id="mainSection" class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
    <img class="logo" src="../assets/img/logorounded.png">
    <div class="cardLinks is-flex is-flex-direction-column is-justify-content-start is-align-items-center">
      <a href="http://cantoestatistico.com" target="_blank">
        <button class="button is-success is-outlined">Site</button>
      </a>

      <a href="https://instagram.com/cantoestatistico" target="_blank">
        <button class="button is-success is-outlined">Instagram</button>
      </a>

      <a href="https://www.youtube.com/channel/UCnK5OB98e7IY7ct4LZy6CjA" target="_blank">
        <button class="button is-success is-outlined">Youtube</button>
      </a>

      <a href="https://t.me/cantoestatistico" target="_blank">
        <button class="button is-success is-outlined">Suporte Telegram</button>
      </a>

      <a href="https://t.me/cantoestatisticofreetips" target="_blank">
        <button class="button is-success is-outlined">Free Tips</button>
      </a>

      <a href="https://drive.google.com/file/d/1e7p4jJi0ABa2dG4YJ32JLzZhgJuyiFPd/view?usp=sharing" target="_blank">
        <button class="button is-success is-outlined">Ebook Análise e Entradas Free</button>
      </a>
    </div>
  </section>
</template>


<style lang='scss' scoped>
  #mainSection{
    background-color: #000000;
    width: 100%;
    height: 100vh;
    .logo {
      width: 150px;
      margin-bottom: 40px;
    }
    .cardLinks {
      width: 70%;
      height: 60%;
      border-radius: 20px;
      .button {
        width: 280px;
        height: 50px;
        margin: 0 0 10px 0;
        font-size: 19px;
        color: #fff;
        font-weight: 600;
      }
    }
  }
</style>