<template>
  <div id="mainDiv">
    <Menu/>
    <div class="container is-flex is-flex-direction-column is-align-items-center">
      <div class="notification is-success is-flex is-justify-content-center" v-if="changePasswordMessageHandler === true">{{changePasswordMessage}}</div>
      <div class="notification is-danger is-flex is-justify-content-center" v-if="changePasswordMessageHandler === false ">{{changePasswordMessage}}</div>
      <div class="card mt-5 mb-5">
        <div class="card-content">
          <form @submit.prevent="changePassword" id="profileForm" class="mt-2">
            <div class="mb-4">
              <h4 class="is-size-3 has-text-centered">Alterar senha</h4>
            </div>
            <div class="field mb-5">
              <label for="" class="label">Nova senha:</label>
              <div class="control">
                <input v-model="$v.newPassword.$model" type="password" class="input">
                <div class="has-text-danger is-flex is-justify-content-start" v-if="!$v.newPassword.required && $v.newPassword.$dirty">Digite sua senha</div>
                <div class="has-text-danger is-flex is-justify-content-start" v-if="(!$v.newPassword.minLength || !$v.newPassword.maxLength) && $v.newPassword.$dirty">Sua senha deve conter entre <br> 8 e 20 caracteres.</div>
              </div>
            </div>
            <div class="field mb-5">
              <label for="" class="label">Digite a nova senha novamente:</label>
              <div class="control">
                <input v-model="$v.reNewPassword.$model" type="password" class="input">
                <div class="has-text-danger is-flex is-justify-content-start" v-if="!$v.reNewPassword.required && $v.reNewPassword.$dirty">Digite sua senha novamente</div>
                <div class="has-text-danger is-flex is-justify-content-start" v-if="(!$v.reNewPassword.minLength || !$v.reNewPassword.maxLength) && $v.reNewPassword.$dirty">Sua senha deve conter entre <br> 8 e 20 caracteres.</div>
                <div class="has-text-danger is-flex is-justify-content-start" v-if="($v.newPassword.$model !== $v.reNewPassword.$model) && $v.reNewPassword.$dirty">As senhas não coincidem</div>
              </div>
            </div>
            <div class="control is-flex is-justify-content-center">
              <button class="button is-success">Alterar senha</button>
            </div>
          </form>
        </div>
      </div> 
    </div>
    <Footer/>
  </div>
</template>

<script>
import Menu from '../components/Menu';
import Footer from '../components/Footer';
import {
  required, minLength, maxLength,
} from '../../node_modules/vuelidate/lib/validators';
import xss from 'xss';
export default {
  components: {
    Menu,
    Footer
  },
  data(){
    return {
      newPassword: '',
      reNewPassword: '',
      changePasswordMessageHandler: null,
      changePasswordMessage: '',
      email: this.$route.query.e,
      token: this.$route.query.t,
    }
  },
  validations: {
    newPassword: {
      required,
      minLength: minLength(8),
      maxLength: maxLength(64),
    },
    reNewPassword: {
      required,
      minLength: minLength(8),
      maxLength: maxLength(64),
    },
  },
  methods: {
    changePassword: async function(){
      this.$v.newPassword.$touch();
      this.$v.reNewPassword.$touch();
      if(this.$v.newPassword.$invalid || this.$v.reNewPassword.$invalid) return;
      if(this.$v.newPassword.$model !== this.$v.reNewPassword.$model) return;
      const data = { email: xss(this.email), token: xss(this.token), password: xss(this.$v.reNewPassword.$model) };
      this.$store.dispatch('changePassword', data).then((res) => {
        if(res.status == false){
          this.changePasswordMessageHandler = false;
          this.changePasswordMessage = res.message;
          setTimeout(() => {
            this.$router.push('/');
          }, 3000);
        }else {
          this.changePasswordMessageHandler = true;
          this.changePasswordMessage = res.message;
          setTimeout(() => {
            this.$router.push('/login');
          }, 1500);
        }
      });
    }
  }
}
</script>

<style lang="scss" scoped>
  #profileForm {
    width: 300px;
  }
  #mainDiv {
    width: 100%;
    height: 100vh;
    background-color: #000000;
  }
  .card {
    max-width: 90%;
    border: none;
    border-radius: 5px;
  }
  .card-content {
    background-color: #19191a;
    color: #ffffff;
  }
  .content h3 {
    color: #ffffff;
  }
  .input {
    background-color: #000000;
    color: #ffffff;
    border: none!important;
  }
  .input::placeholder {
    color: #ffffff;
  }
  .label {
    color: #ffffff;
  }
</style>