<template>
  <div id="mainContent" class="container is-flex is-flex-direction-column is-align-items-center">
    <form @submit.prevent="updateProfile" id="profileForm" class="mt-2">
      <div class="mb-4">
        <div class="notification is-success is-flex is-justify-content-center"  v-if="resetMessageHandler == true"> {{ resetMessage }}</div>
        <div class="notification is-danger is-flex is-justify-content-center"  v-if="resetMessageHandler == false"> {{ resetMessage }}</div>
        <h4 class="is-size-6">Olá,</h4>
        <strong class="is-size-3">{{userInfo.firstName}} {{userInfo.secondName}}</strong>
      </div>
      <fieldset disabled>
        <div class="field mb-2">
          <label for="" class="label">Seu email:</label>
          <div class="control">
            <p class="exp">{{userInfo.email}}</p>
          </div>
        </div>
      </fieldset>
      <div class="field mb-2">
        <label for="" class="label">Seu whatsapp:</label>
        <div class="control">
          <input v-model="$v.whatsapp.$model" type="text" class="input">
          <div class="has-text-danger is-flex is-justify-content-start" v-if="!$v.whatsapp.required && $v.whatsapp.$dirty">Digite seu número de Whatsapp</div>
          <div class="has-text-danger is-flex is-justify-content-start" v-if="!$v.whatsapp.numeric && $v.whatsapp.$dirty">Digite apenas os números.</div>
          <div class="has-text-danger is-flex is-justify-content-start" v-if="(!$v.whatsapp.minLength || !$v.whatsapp.maxLength) && $v.whatsapp.$dirty">O numero deve conter 11 caracteres. [DDD + 9 + 9999-9999]</div>
        </div>
      </div>
      <div class="field mb-2">
        <label for="" class="label">Seu telegram:</label>
        <div class="control">
          <input v-model="$v.telegram.$model" type="text" class="input">
          <div class="has-text-danger is-flex is-justify-content-start" v-if="!$v.telegram.required && $v.telegram.$dirty">Digite seu telegram</div>
        </div>
      </div>
      <div class="field mb-5">
        <label for="" class="label">Sua assinatura vence dia:</label>
        <div class="control">
          <p class="exp">{{userInfo.nextPayment | formatData(userInfo.nextPayment)}}</p>
        </div>
      </div>
      <div class="has-text-success is-flex is-justify-content-center"  v-if="updateProfileMessageHandler === true">{{updateProfileMessage}}</div>
      <div class="has-text-danger is-flex is-justify-content-center"  v-if="updateProfileMessageHandler === false ">{{updateProfileMessage}}</div>
      <div class="control is-flex is-justify-content-center">
        <button class="button is-success">Atualizar</button>
      </div>
    </form>
    <button @click="resetPassword" class="button is-warning mt-3">Alterar senha</button>
  </div>
</template>

<script>
import {
  required, minLength, maxLength, numeric,
} from '../../node_modules/vuelidate/lib/validators';
import xss from 'xss';
export default {
  data(){
    return {
      telegram: '',
      whatsapp: '',
      updateProfileMessageHandler: false,
      updateProfileMessage: '',
      resetMessageHandler: null,
      resetMessage: '',
    }
  },
  validations: {
    whatsapp: {
      required,
      numeric,
      minLength: minLength(11),
      maxLength: maxLength(11),
    },
    telegram: {
      required,
      maxLength: maxLength(35),
    },
  },
  computed: {
    userInfo(){
      return this.$store.getters.getUserInfo;
    }
  },
  filters: {
    formatData(str){
      return new Date(str).toLocaleDateString(
        'pt-br',
        {
          day: 'numeric',
          month: 'numeric',
          year: 'numeric',
          hour: 'numeric',
          minute:'numeric'
        }
      ); 
    }
  },
  created() {
    this.telegram = this.userInfo.telegram,
    this.whatsapp = this.userInfo.whatsapp
  },
  methods: {
    updateProfile: async function(){
      this.$v.telegram.$touch();
      this.$v.whatsapp.$touch();
      if(this.$v.telegram.$invalid || this.$v.whatsapp.$invalid) return;
      if(this.$v.telegram.$model === this.userInfo.telegram && this.$v.whatsapp.$model === this.userInfo.whatsapp) return;
      const data = {telegram: xss(this.$v.telegram.$model), whatsapp: xss(this.$v.whatsapp.$model)};
      this.$store.dispatch('updateProfile', data).then((res) => {
        if(res.status == false){
          this.updateProfileMessageHandler = false;
          this.updateProfileMessage = res.message;
        } else {
          this.updateProfileMessageHandler = true;
          this.updateProfileMessage = res.message;
        }
      });
    },
    resetPassword(){
      const data = JSON.stringify({email: xss(this.userInfo.email)});
      this.$store.dispatch('resetPassword', data).then((res) => {
        this.resetEmailFieldMessageHandler = false;
        if(res.status == false){
          this.resetMessageHandler = false;
          this.resetMessage = res.message;
        } else {
          this.resetMessageHandler = true;
          this.resetMessage = res.message;
        }
      });
    }
  }
}
</script>

<style lang="scss" scoped>
  #profileForm {
    width: 300px;
  }
  #mainContent {
    width: 100%;
    min-height: 100vh;
  }
  h4, strong, label, .exp {
    color: #e1e1e1;
  }
</style>