<template>
  <div id="mainDiv" class="container">
    <p id="title" class="is-size-3">Wiki</p>
    <div class="is-flex is-flex-direction-column">
      <div class="box is-flex is-justify-content-space-between is-align-items-center">
        <p class="titleBox">Estrátegia de Handicap</p>
        <button @click="showModal('handicap')" class="button is-black">Ver mais...</button>
        <div id="handicap" class="modal">
          <div @click="removeModal('handicap')" class="modal-background"></div>
          <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title">Estrátegia de Handicap Asiático</p>
              <button @click="removeModal('handicap')" class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
              <div id="content">
                <div id="general">
                  <h4 class="is-size-4">Parâmetros a serem analisados</h4>
                  <br>
                  <p>BO: Maior ou igual a 6.</p>
                  <p>Diferença de CG: Maior ou igual a 10.</p>
                  <p>Atalho para entrada perfeita: RE maior que 100.</p>
                  <br>
                  <p>1º  Tempo</p>
                  <img src="../assets/img/handicap.jpg" alt="" srcset="">
                  <br><br>
                  <p>2º  Tempo</p>
                  <img src="../assets/img/handicap2.jpg" alt="" srcset="">
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
      <div class="box is-flex is-justify-content-space-between is-align-items-center">
        <p class="titleBox">Estratégia escanteio limite</p>
        <button @click="showModal('limit')" class="button is-black">Ver mais...</button>
        <div id="limit" class="modal">
          <div @click="removeModal('limit')" class="modal-background"></div>
          <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title">Estratégia escanteio limite</p>
              <button @click="removeModal('limit')" class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
              <div id="content">
                <div id="general">
                  <h4 class="is-size-4">Parâmetros a serem analisados</h4>
                  <img src="../assets/img/limit2.jpg" alt="" srcset="">
                  <br><br>
                  <h5 class="is-size-5">Entrada 1° tempo</h5>
                  <br>
                  <p>APPM: Maior ou igual a 1.</p>
                  <p>CG: Maior ou igual a 10.</p>
                  <br>
                  <img src="../assets/img/limit3.jpg" alt="" srcset="">
                  <br><br>
                  <h5 class="is-size-5">Entrada 2° tempo</h5>
                  <br>
                  <p>APPM: Maior ou igual a 1.</p>
                  <p>CG: Maior ou igual a 15.</p>
                  <br>
                  <img src="../assets/img/limit.jpg" alt="" srcset="">
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
      <div class="box is-flex is-justify-content-space-between is-align-items-center">
        <p class="titleBox">+2 cantos</p>
        <button @click="showModal('bigeye')" class="button is-black">Ver mais...</button>
        <div id="bigeye" class="modal">
          <div @click="removeModal('bigeye')" class="modal-background"></div>
          <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title">+2 cantos</p>
              <button @click="removeModal('bigeye')" class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
              <div id="content">
                <div id="general">
                  <h4 class="is-size-4">Parâmetros a serem analisados</h4>
                  <img src="../assets/img/bigeye2.jpg" alt="" srcset="">
                  <br><br>
                  <h5 class="is-size-5">Entrada no 1° tempo</h5>
                  <br>
                  <p>Entrada: Mais dois escanteios corridos.</p>
                  <p>APPM: Maior ou igual a 1.</p>
                  <p>CG: Maior ou igual a 10.</p>
                  <br>
                  <img src="../assets/img/bigeye1t.jpg" alt="" srcset="">
                  <br><br>
                  <h5 class="is-size-5">Entrada no 2° tempo</h5>
                  <br>
                  <p>Entrada: Mais dois escanteios corridos.</p>
                  <p>APPM: Maior ou igual a 1.</p>
                  <p>CG: Maior ou igual a 15.</p>
                  <br>
                  <img src="../assets/img/bigeye.jpg" alt="" srcset="">
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</template>

<script>
export default {
  methods: {
    showModal(id){
      const modal = document.getElementById(id);
      modal.classList.toggle('is-active');
    },
    removeModal(id){
      const modal = document.getElementById(id);
      modal.classList.remove('is-active');
    },
  }
}
</script>

<style lang="scss" scoped>
  #mainDiv {
    height: 100vh;
    padding: 15px;
    color: #e1e1e1;
  }
  #title {
    margin-bottom: 15px;
    color: #ffffff;
  }
  .box {
    padding: 0px 0px 0px 5px;
    background-color: #1f1f1f;
    color: #e1e1e1; 
  }
  .titleBox {
    font-size: 20px;
    font-weight: 500;
  }
  .button {
    border-radius: 0px 6px 6px 0px;
  }
  .modal-card {
    height: 90%;
    width: 90%;
    .modal-card-head {
      border: none!important;
      background-color: #121212!important;
    }
    .modal-card-title {
      color: #ffffff!important;
    }
    .modal-card-body {
      padding: 7px;
      background-color: #1f1f1f;
      color: #e1e1e1;
    }
    .column {
      padding: 2px;
    }
    #notice {
      background-color: #121212;
      padding: 5px;
      border-radius: 5px;
      text-align: center;
      margin-bottom: 15px;
    }
  }
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 769px) {
    .modal-card {
      height: 90%;
      width: 80%;
      text-align: center;
    }
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 1024px) {
    .modal-card {
      height: 90%;
      width: 70%;
      text-align: center;
    }
  }

  /* X-Large devices (large desktops, 1200px and up) */
  @media (min-width: 1216px) {
    .modal-card {
      height: 90%;
      width: 50%;
      text-align: center;
    }
  }
</style>