<template>
    <span id="tagInfo" class="tag is-dark is-medium">Ao vivo: {{numberOfMatches}}</span>
</template>

<script>
  export default {
    computed: {
      numberOfMatches: function(){
        const length = this.$store.state.matches.length
        if(length === 0) return 0
        return length;
      }
    }
  }
</script>

<style>

</style>