<template>
  <section class="is-flex">
      <span @click="setFilterNoFilter" id="tagInfo" :class="filters.filterNoFilter == 'false' ? 'tag is-dark is-medium' : 'tag is-success is-medium'">Sem filtro</span>
      <span @click="setFilterAppm" id="tagInfo" :class="filters.filterAppm == 'false' ? 'tag is-dark is-medium' : 'tag is-success is-medium'">Appm</span>
      <span @click="setFilterCg" id="tagInfo" :class="filters.filterCg == 'false' ? 'tag is-dark is-medium' : 'tag is-success is-medium'">Cg</span>
      <span @click="setFilterBoth" id="tagInfo" :class="filters.filterBoth == 'false' ? 'tag is-dark is-medium' : 'tag is-success is-medium'">Ambos</span>
  </section>
</template>

<script>
export default {
		computed: {
			filters(){
				const {filterNoFilter, filterAppm, filterCg, filterBoth} = this.$store.getters.getUserInfo
				const filters = {
					filterNoFilter : filterNoFilter,
					filterAppm : filterAppm,
					filterCg : filterCg,
					filterBoth : filterBoth,
				}
				return filters;
			}
		},
		methods: {
			setFilterNoFilter(){
				this.$store.commit('setFilterAppm', 'false');
				this.$store.commit('setFilterNoFilter', 'true');
				this.$store.commit('setFilterCg', 'false');
				this.$store.commit('setFilterBoth', 'false');
			},
			setFilterAppm(){
				this.$store.commit('setFilterAppm', 'true');
				this.$store.commit('setFilterNoFilter', 'false');
				this.$store.commit('setFilterCg', 'false');
				this.$store.commit('setFilterBoth', 'false');
			},
			setFilterCg(){
				this.$store.commit('setFilterAppm', 'false');
				this.$store.commit('setFilterNoFilter', 'false');
				this.$store.commit('setFilterCg', 'true');
				this.$store.commit('setFilterBoth', 'false');
			},
			setFilterBoth(){
				this.$store.commit('setFilterAppm', 'false');
				this.$store.commit('setFilterNoFilter', 'false');
				this.$store.commit('setFilterCg', 'false');
				this.$store.commit('setFilterBoth', 'true');
			},
		},
}
</script>

<style lang="scss" scoped>
    section {
        p {
            color: #fff;
        }
        #tagInfo {
            margin: 0px 5px 0px 0px!important;
            cursor: pointer;
        }   
    }
</style>
