<template>
  <footer id="footer" class="is-flex is-flex-direction-column is-align-items-center">
    <div id="footerGroupColumns" class="columns is-flex">
      <div id="footerColumns" class="column is-flex is-flex-direction-column is-one-third">
        <img src="../assets/img/logo.png" width="142" height="38">
      </div>
      <div id="footerColumns" class="column is-one-third">
        <p id="grayColor">Redes sociais</p>
        <ul id="footerList" class="is-flex">
          <li>
            <figure class="image is-32x32">
              <a href="https://instagram.com/cantoestatistico" target="_blank" >
                <img src="../assets/img/instagram.svg">
              </a>
            </figure>
          </li>
          <li>
            <figure class="image is-32x32">
              <a href="https://t.me/cantoestatistico" target="_blank" >
                <img src="../assets/img/telegram-footer.svg">
              </a>
            </figure>
          </li>
        </ul>
      </div>
      <div id="footerColumns" class="column is-one-third">
        <p id="grayColor">Links</p>
        <a @click="showModal('modalConditions')">Termos e condições</a>
        <div id="modalConditions" class="modal">
          <div @click="removeModal('modalConditions')" class="modal-background"></div>
          <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title">Termos e condições serviço.</p>
              <button @click="removeModal('modalConditions')" class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
        <h2>1. DO OBJETO</h2><br>
    <p>A plataforma visa licenciar o uso de seu software, website, aplicativos e demais ativos, fornecendo ferramentas para auxiliar e dinamizar o dia a dia dos seus usuários.
    A plataforma caracteriza-se pela prestação do serviço de fornecimento de amostragem probabilísticas.<br><br>
    A plataforma realiza o fornecimento de dados estatísticos processados pela mesma, apartir de dados obtidos de serviços terceiros de jogos de futebol</p><br>
      <h2>2. DA ACEITAÇÃO</h2><br>
    <p>O presente Termos estabelece obrigações contratadas de livre e espontânea vontade, por tempo vigente a depender do pagamento da assinatura, entre a plataforma e as pessoas físicas ou jurídicas, usuárias do site.<br><br>
    Ao utilizar a plataforma o usuário aceita integralmente as presentes normas e compromete-se a observá-las, sob o risco de aplicação das penalidades cabíveis.<br><br>
    A aceitação do presente instrumento é imprescindível para o acesso e para a utilização de quaisquer serviços fornecidos pela empresa. <br><br>Caso não concorde com as disposições deste instrumento, o usuário não deve utilizá-los</p><br>

        <h2>3. DO ACESSO DOS USUÁRIOS</h2><br>
    <p>Serão utilizadas todas as soluções técnicas à disposição do responsável pela plataforma para permitir o acesso ao serviço 24 horas por dia, 7 dias por semana. <br><br>No entanto, a navegação na plataforma ou em alguma de suas páginas poderá ser interrompida, limitada ou suspensa para atualizações, modificação ou qualquer ação necessária ao seu bom funcionamento.</p><br>
        <h2>4. DO CADASTRO</h2><br>
    <p>O acesso às funcionalidades da plataforma exigirá a realização de um cadastro prévio e, a depender dos serviços ou produtos, escolhidos, o pagamento de determinado valor.<br><br>
    Ao se cadastrar o usuário deverá informar o dados completos, recentes e válidos, sendo de sua exclusiva responsabilidade manter referidos dados atualizados, bem como o usuário se compromete com a veracidade dos dados fornecidos.<br><br>
    O usuário se compromete a não informar seus dados cadastrais e ou de acesso à plataforma a terceiros, responsabilizando-se integralmente pelo uso que deles seja feito.<br><br>
    Menores de 18 anos e aqueles que não possuírem plena capacidade civil deverão obter previamente o consentimento expresso de seus responsáveis legais para utilização da plataforma e dos serviços ou produtos, sendo de responsabilidade exclusiva dos mesmos o eventual acesso por menores de idade e por aqueles que não possuem plena capacidade civil sem a prévia autorização.<br><br>
    Mediante a realização do cadastro o usuário declara e garante expressamente ser plenamente capaz, podendo exercer e usufruir livremente dos serviços e produtos.<br><br>
    O usuário deverá fornecer um endereço de e-mail, telefone de contato válido, e redes sociais válidas através do qual o site realizará todas as comunicações necessárias.<br><br>
    Após a confirmação do cadastro, o usuário possuirá um login e uma senha pessoal, a qual assegura ao usuário o acesso individual à mesma. <br><br>Desta forma, compete ao usuário exclusivamente a manutenção de referida senha de maneira confidencial e segura, evitando o acesso indevido às informações pessoais.<br><br>
    Toda e qualquer atividade realizada com o uso da senha será de responsabilidade do usuário que deverá informar prontamente a plataforma em caso de uso indevido da respectiva senha.<br><br>
    Não será permitido ceder, vender, alugar ou transferir, de qualquer forma, a conta que é pessoal e intrasferível.
    Caberá ao usuário assegurar que o seu equipamento seja compatível com as características técnicas que viabilize a utilização da plataforma e dos serviços ou produtos.<br><br>
    O usuário poderá, a qualquer tempo, requer o cancelamento de seu cadastro junto ao Telegram @cantoestatistico. O seu descadastramento será realizado o mais rapidamente possível, desde que não sejam verificados débitos em aberto.<br><br>
    O usuário, ao aceitar os Termos e politica de privacidade, autoriza expressamente a plataforma a coletar, usar, armazenar, tratar, ceder ou utilizar as informações derivadas do uso dos serviços, e do site, incluindo todas as informações preenchidas pelo usuário no momento em que realizar ou atualizar seu cadastro, além de outras expressamente descritas na Politica de Privacidade.</p><br>
        <h2>5. DOS SERVIÇOS</h2><br>
    <p>A plataforma poderá disponibilizar para o usuário um conjunto específico de funcionalidades e ferramentas para otimizar o uso dos serviços e produtos.<br><br>
    Na plataforma os serviços oferecidos estão descritos e apresentados com o maior grau de precisão possível, contendo informações sobre o mesmo, bem com sobre os riscos que apresentam à segurança do usuário, uma vez que pela própria a natureza do serviço como sendo EXCLUSIVAMENTE estatístico, não garantindo a precisão dos dados, dado que pois os dados dos jogos são fornecidos por terceiros e apenas processados pela Canto estatístico.<br><br>
    Antes de finalizar a compra sobre determinado produto ou serviço, o usuário deverá se informar sobre as suas especificações e sobre sua destinação.<br><br>
    O acesso a plataforma será liberado no momento da finalização do pagamento.</p><br>
        <h2>6. DOS PREÇOS</h2><br>
    <p>A plataforma se reserva no direito de reajustar unilateralmente, a qualquer tempo, os valores dos serviços ou produtos sem consulta ou anuência prévia do usuário.<br><br>
    Na contratação do acesso ao sistema, a plataforma poderá solicitar Nome, CPF e Endereço de cobrança em caso de opção por boleto.</p><br>
        <h2>7. Cancelamento</h2><br>
    <p>O usuário poderá cancelar a contratação dos serviços de acordo com os termos que forem definidos no momento de sua contratação. <br><br>Ainda, o usuário também poderá cancelar os serviços em até 7 (sete) dias após a contratação mediante contato com o suporte do site, de acordo com o Código de Defesa do Consumidor (Lei nº 9.078/90)<br><br>
    O serviço poderá ser cancelado por:<br><br>
        a) Parte do usuário: nessas condições somente cessarão quando concluído o ciclo vigente ao tempo do cancelamento;<br><br>
        b) Violação dos termos de uso: os serviços serão cessados imediatamente.<br><br>
    Em caso de vício do produto, deverá ser verificado vícios de qualidade ou quantidade que tornem o produto impróprios ou inadequados ao consumo a que se destinam ou que lhes diminuam o valor, devendo o usuário entrar em contato com o suporte do site, tão logo constato o vício. </p><br>
        <h2>8. DO SUPORTE</h2><br>
    Em caso de qualquer dúvida, sugestão ou comunicação com relação à plataforma, o usuário poderá entrar em contato com o suporte, através do telegram @cantoestatistico.
    Estes serviços de atendimento ao usuário estarão disponíveis de segunda à sexta-feira das 8:00 às 18:00.<br><br>
        <h2>9. DAS RESPONSABILIDADES</h2><br>
    <p>É de responsabilidade do usuário<br><br>
        a) Defeitos ou vícios técnicos originados no próprio sistema do usuário;<br><br>
        b) A correta utilização da plataforma, dos serviços ou produtos oferecidos, prezando pela boa convivência, pelo respeito e cordialidade entre usuários;<br><br>
        c) Pelo cumprimento e respeito ao conjunto de regras exposto nesse Termo de Condições Geral de Uso, na respectiva Política de Privacidade e na legislação nacional e internacional;<br><br>
        d) Pela proteção aos dados de acesso à sua conta/perfil (login, senha e email de recuperação).<br><br>
    É de responsabilidade da plataforma;<br><br>
        A) Indicar as características do serviço;<br><br>
        B) Os defeitos e vícios encontrados no serviço ou produto oferecido desde que lhe tenha lhe dado causa;<br><br>
        C) As informações que foram por ele divulgada, sendo que os comentários ou informações divulgadas por usuários são de inteira responsabilidade dos próprios usuários;<br><br>
        D) Os conteúdo ou atividades ilícitos praticados através da sua plataforma.<br><br>
    A plataforma não se responsabiliza pelo funcionamento dos links contidos em seu sistema, e  pelo funcionando dos serviços externos que tais links possam redirecionar o usuário à ambiente externo a sua rede.</p><br>
        <h2>10. DOS DIREITOS AUTORAIS</h2><br>
    <p>O presente Termo de Uso concede aos usuários uma licença não exclusiva, não transferível e não sublicenciável, para acessar e fazer uso da plataforma e dos serviços e produtos por ela disponibilizados.<br><br>
    A estrutura do site, as marcas, logotipos, nomes comerciais, layouts, design de interface, algoritmos, banco de dados, arquivos de transmissão são de direito de propriedade intelectual da Canto estatístico.</p><br>
        <h2>11. DAS SANÇÕES</h2><br>
    <p>Sem prejuízo das demais medidas legais cabíveis, a razão social Canto estatístico poderá, a qualquer momento, advertir, suspender ou cancelar a conta do usuário:<br><br>
        a) Que violar qualquer dispositivo do presente Termo;<br><br>
        b) Que descumprir os seus deveres de usuário;<br><br>
        c) Que tiver qualquer comportamento fraudulento, dolo ou que ofenda a terceiros;</p><br>

        <h2>12. DA RESCISÃO</h2><br>
    <p>A não observância das obrigações pactuadas neste Termo de Uso ou da legislação aplicável poderá, sem prévio aviso, ensejar a imediata rescisão unilateral por parte da razão social Canto estatístico e o bloqueio de todos os serviços prestados ao usuário.<p><br>

        <h2>13. DAS ALTERAÇÕES</h2><br>

    <p>Os itens descritos no presente instrumento poderão sofrer alterações, unilateralmente e a qualquer tempo, por parte da Canto estatístico, para adequar ou modificar os serviços, bem como para atender novas exigências legais. <br><br>As alterações serão publicitadas  e ao usuário poderá optar por aceitar o novo conteúdo ou por cancelar o uso dos serviços.<br><br>
    Os serviços oferecidos podem, a qualquer tempo e unilateralmente, e sem qualquer aviso prévio, ser deixados de fornecer, alterados em suas características, bem como restringido para o uso ou acesso.</p><br>
        <h2>14. DA POLÍTICA DE PRIVACIDADE</h2><br>
    <p>Além do presente Termo, o usuário deverá consentir com as disposições contidas nas respectivas Políticas de Privacidade a ser apresentada a todos os interessados dentro da interface da plataforma.</p><br>
    <p>A) plataforma utiliza cookies para controle de sessão.</p><br>
    <p>B) As informações coletadas como Nome, Email, Whatsapp e Telegram, serão utilizadas para fim de comunicação com o usuário e nada mais.</p><br>
            </section>
          </div>
        </div>
      </div>
    </div>
    <div id="legalNotice">
      <p>Esse produto é comercializado com apoio da Hotmart. A plataforma não faz controle editorial prévio dos produtos comercializados, nem avalia a tecnicidade e experiência daqueles que os produzem. A existência de um produto e sua aquisição, por meio da plataforma, não podem ser consideradas como garantia de qualidade de conteúdo e resultado, em qualquer hipótese. Ao adquiri-lo, o comprador declara estar ciente dessas informações. Os termos e políticas da Hotmart podem ser acessados aqui, antes mesmo da conclusão da compra.</p>
    </div>
  </footer>
</template>

<script>
  export default {
    methods: {
      showModal(id){
        const modal = document.getElementById(id);
        modal.classList.toggle('is-active');
      },
      removeModal(id){
        const modal = document.getElementById(id);
        modal.classList.remove('is-active');
      },
    },
  }
</script>

<style lang="scss" scoped>
  @import '../assets/css/colors.scss';
  a {
    color: #fff;
  }
  #footer {
    width: 100%;
    height: 100%;
    background-color: #19191A;
    color: #fff;
    padding: 10px 30px;
    margin-top: 20px;
  }
  #footerGroupColumns {
    margin-top: 5px;
    margin-bottom: 0px!important;
  }
  #footerColumns {
    min-height: 100px!important;
    padding: 10px 10px 0px 10px!important;
    .navbar-item {
      padding-left: 0px !important;
    }
  }
  #socialFooter {
    margin-top: 5px
  }
  #legalNotice {
    text-align: center;
    font-size: 15px;
    color: #494949;
    width: 100%;
  }
  .modal-card {
    color: #19191A;
    width: 90%;
  }
  .modal-card-title {
    font-size: 18px;
  }
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 769px) {
    .modal-card {
      width: 70%;
    }
    #legalNotice {
      width: 80%;
    }
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 1024px) {
    #footer {
      display: flex;
      justify-content: center;
    }
    #footerGroupColumns {
      width: 700px;
    }
    .modal-card {
      width: 60%;
    }
    #legalNotice {
      width: 60%;
    }
  }

  /* X-Large devices (large desktops, 1200px and up) */
  @media (min-width: 1216px) {
    .modal-card {
      width: 50%;
    }
  }

  /* XX-Large devices (larger desktops, 1400px and up) */
  @media (min-width: 1408px) {
    .modal-card {
      width: 40%;
    }
    #legalNotice {
      width: 50%;
    }
  }
</style>