<template>
  <span>
    <img 
      class="iconInfo" 
      src="../assets/img/info.svg" 
      width="20" 
      height="20"
      @click="showModal(matchInfo.id)"
    >
    <div :id="'markets_' + matchInfo.id" class="modal is-active'">
      <div @click="removeModal(matchInfo.id)" class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Mercados</p>
          <button @click="removeModal(matchInfo.id)" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
          {{messageError}}
          <div class="market">
              <div class="is-flex is-justify-content-space-between">
                <h3>Escanteios</h3>
                <span 
                  :class="(Number((((markets['1_7']||[])[0]||[{}]).time_str || '')) == '' )? 'tag is-danger' : 'tag is-success'">
                  {{(Number((((markets['1_7']||[])[0]||[{}]).time_str || '')) == '') ? 'Não' : `Sim`}}
                </span>
              </div> 
          </div>
          <div class="market">
              <div class="is-flex is-justify-content-space-between">
                <h3>Handicap</h3>
                <span 
                  :class="(Number((((markets['1_5']||[])[0]||[{}]).time_str || '')) == '' )? 'tag is-danger' : 'tag is-success'">
                  {{(Number((((markets['1_5']||[])[0]||[{}]).time_str || '')) == '') ? 'Não' : `Sim`}}
                </span>
              </div>
              
          </div>
          <div class="market">
              <div class="is-flex is-justify-content-space-between">
                <h3>HT/FT Resultado</h3>
                <span 
                  :class="(Number((((markets['1_8']||[])[0]||[{}]).time_str || '')) == '' )? 'tag is-danger' : 'tag is-success'">
                  {{(Number((((markets['1_8']||[])[0]||[{}]).time_str || '')) == '') ? 'Não' : `Sim`}}
                </span>
              </div>
          </div>
        </section>
      </div>
    </div>
  </span>
</template>

<script>
export default {
  props: {
    matchInfo: Object,
  },
  data() {
    return {
      markets: '',
      messageError: ''
    }
  },
  methods: {
    showModal(id){
      const idModal = 'markets_' + id;
      const modal = document.getElementById(idModal);
      modal.classList.toggle('is-active');
      this.$store.dispatch('getMarkets', {idMatch: this.matchInfo.id}).then((res) => {
        if(res.data.status == false){
          this.messageError = 'Não foi possivel buscar a lista de mercado. Tente novamente!'
        }
        this.markets = res.data;
      });
    },
    removeModal(id){
      const idModal = 'markets_' + id;
      const modal = document.getElementById(idModal);
      modal.classList.remove('is-active');
    },
  },
}
</script>

<style lang="scss" scoped>
  .iconInfo {
    margin-left: 10px;
  }
  .modal-card {
    height: 90%;
    width: 90%;
    .modal-card-head {
      border: none!important;
      background-color: #121212!important;
    }
    .modal-card-title {
      color: #ffffff!important;
    }
    .modal-card-body {
      background-color: #1f1f1f; 
      padding: 10px;
      .market {
        background-color: #121212;
        padding: 10px;
        margin: 0 0 7px 0;
        h3 {
          font-weight: 700;
        }
      }
    }
  }
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 769px) {
    #listItem {
      max-width: 368px;
      margin-right: 5px!important;
    }
    .modal-card {
      width: 70%!important;
    }
  }
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 1024px) {
    #listItem {
      max-width: 368px;
      margin-right: 5px!important;
    }
    .modal-card {
      width: 60%!important;
    }
  }
  /* X-Large devices (large desktops, 1200px and up) */
  @media (min-width: 1216px) {
    .modal-card {
      width: 50%!important;
    }
  }

  /* XX-Large devices (larger desktops, 1400px and up) */
  @media (min-width: 1408px) {
    .modal-card {
      width: 40%!important;
    }
  }
</style>