<template>
  <header class="mb-1">
    <div class="container">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <router-link to="/" custom v-slot="{ navigate }">
            <a class="navbar-item">
              <img @click="navigate" class="logoImg"  rel="preload" src="../assets/img/logo.png" width="142" height="68">
            </a>
          </router-link>
          <a @click="showMenuMobile" id="iconBurguerMobile" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div id="navbarLinks" class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <router-link to="/login" custom v-slot="{ navigate }">
                  <a @click="navigate" class="button">Fazer login</a>
                </router-link>
                <a @click="showModal('modalRegister')" id="btnRegister" class="button is-success">Registrar</a>
                <a :href="supportContact" id="btnSupport" class="button is-success" target="_blank">Suporte</a>
                <a href="https://cantoestatistico.com/links" class="button is-warning" target="_blank">Links</a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div id="modalRegister" class="modal">
      <div @click="removeModal('modalRegister')" class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Registrar-se</p>
        </header>
        <form @submit.prevent="onRegisterSubmit">
          <section class="modal-card-body">
            <p v-if="registerMessageHandler === true" class="notification is-success mb-5">{{registerMessage}}</p>
            <p v-if="registerMessageHandler === false" class="notification is-danger mb-5">{{registerMessage}}</p>
            <div id="infoName" class="is-flex is-justify-content-space-between">
              <div id="fieldForm" class="field">
                <label class="label">Nome</label>
                <div class="control">
                  <input v-model="$v.firstNameRegister.$model" class="input" type="text" placeholder="John">
                  <div class="has-text-danger is-flex is-justify-content-start" v-if="(!$v.firstNameRegister.required || !$v.firstNameRegister.alpha || !$v.firstNameRegister.minLength || !$v.firstNameRegister.maxLength )  && $v.firstNameRegister.$dirty">Digite seu primeiro nome</div>
                </div>
              </div>
              <div id="fieldForm" class="field ml-2">
                <label class="label">Sobrenome</label>
                <div class="control">
                  <input v-model="$v.secondNameRegister.$model" class="input"  type="text" placeholder="Doe">
                  <div class="has-text-danger is-flex is-justify-content-start" v-if="(!$v.secondNameRegister.required || !$v.secondNameRegister.alpha || !$v.secondNameRegister.minLength || !$v.secondNameRegister.maxLength )  && $v.secondNameRegister.$dirty">Digite seu segundo nome</div>
                </div>
              </div>
            </div>
            <div id="fieldForm" class="field">
              <label class="label">Email</label>
              <div class="control">
                <input v-model="$v.emailRegister.$model" class="input" type="email" placeholder="johndoe@email.com">
                <div class="has-text-danger is-flex is-justify-content-start" v-if="(!$v.emailRegister.required || !$v.emailRegister.email) && $v.emailRegister.$dirty">Digite seu email</div>
              </div>
            </div>
            <div id="infoPassword" class="is-flex is-justify-content-space-between">
              <div id="fieldForm" class="field">
                <label class="label">Sua senha</label>
                <div class="control">
                  <input v-model="$v.passwordRegister.$model" class="input" type="password" placeholder="********">
                  <div class="has-text-danger is-flex is-justify-content-start" v-if="!$v.passwordRegister.required && $v.passwordRegister.$dirty">Digite sua senha</div>
                  <div class="has-text-danger is-flex is-justify-content-start" v-if="(!$v.passwordRegister.minLength || !$v.passwordRegister.maxLength) && $v.passwordRegister.$dirty">Sua senha deve conter entre <br> 8 e 20 caracteres.</div>
                </div>
              </div>
              <div id="fieldForm" class="field ml-2">
                <label class="label">Repita sua senha</label>
                <div class="control">
                  <input v-model="$v.rePasswordRegister.$model" class="input" type="password" placeholder="********">
                  <div class="has-text-danger is-flex is-justify-content-start" v-if="!$v.rePasswordRegister.required && $v.rePasswordRegister.$dirty">Digite sua senha novamente</div>
                  <div class="has-text-danger is-flex is-justify-content-start" v-if="(!$v.rePasswordRegister.minLength || !$v.rePasswordRegister.maxLength) && $v.rePasswordRegister.$dirty">Sua senha deve conter entre <br> 8 e 20 caracteres.</div>
                  <div class="has-text-danger is-flex is-justify-content-start" v-if="($v.passwordRegister.$model !== $v.rePasswordRegister.$model) && $v.rePasswordRegister.$dirty">As senhas não coincidem</div>
                </div>
              </div>
            </div>
            <div id="infoSocial" class="is-flex is-justify-content-space-between">
              <div id="fieldForm" class="field">
                <label class="label">Whatsapp</label>
                <div class="control">
                  <input v-model="$v.whatsappRegister.$model" class="input" type="text" placeholder="DDD + Número">
                  <div class="has-text-danger is-flex is-justify-content-start" v-if="!$v.whatsappRegister.required && $v.whatsappRegister.$dirty">Digite seu número de Whatsapp</div>
                  <div class="has-text-danger is-flex is-justify-content-start" v-if="!$v.whatsappRegister.numeric && $v.whatsappRegister.$dirty">Digite apenas os números.</div>
                  <div class="has-text-danger is-flex is-justify-content-start" v-if="(!$v.whatsappRegister.minLength || !$v.whatsappRegister.maxLength) && $v.whatsappRegister.$dirty">O numero deve conter 11 caracteres. [DDD + 9 + 9999-9999]</div>
                </div>
              </div>
              <div id="fieldForm" class="field ml-2">
                <label class="label">@ do Telegram</label>
                <div class="control">
                  <input v-model="$v.telegramRegister.$model" class="input" type="text" placeholder="@johndoe">
                  <div class="has-text-danger is-flex is-justify-content-start" v-if="!$v.telegramRegister.required && $v.telegramRegister.$dirty">Digite seu telegram</div>
                </div>
              </div>
            </div>
            <small>Ao clicar em "<strong>Registrar</strong>", você concorda com nossos <a @click="showModal('modalConditions')">Termos e condições de serviço.</a>.</small>
            <br><br>
            <button type="submit" class="button is-success">Registrar</button>
            <button @click="removeModal('modalRegister')" id="btnLogin" class="button is-light">fechar</button>
          </section>
        </form>
      </div>
    </div>
  </header>
</template>

<script>
import {
  required, email, minLength, maxLength, alpha, numeric,
} from '../../node_modules/vuelidate/lib/validators';
import xss from 'xss';
export default {
  data() {
    return {
      emailLogin: '',
      passwordLogin: '',
      loginMessageHandler: false,
      loginMessage: '',
      firstNameRegister: '',
      secondNameRegister: '',
      emailRegister: '',
      passwordRegister: '',
      rePasswordRegister: '',
      whatsappRegister: '',
      telegramRegister: '',
      registerMessageHandler: null,
      registerMessage: '',
      supportContact: '',
    };
  },
  validations: {
    emailLogin: {
      required,
      maxLength: maxLength(41),
      email,
    },
    passwordLogin: {
      required,
      minLength: minLength(8),
      maxLength: maxLength(64),
    },
    firstNameRegister: {
      required,
      alpha,
      minLength: minLength(2),
      maxLength: maxLength(10),
    },
    secondNameRegister: {
      required,
      alpha,
      minLength: minLength(2),
      maxLength: maxLength(10),
    },
    emailRegister: {
      required,
      maxLength: maxLength(41),
      email,
    },
    passwordRegister: {
      required,
      minLength: minLength(8),
      maxLength: maxLength(64),
    },
    rePasswordRegister: {
      required,
      minLength: minLength(8),
      maxLength: maxLength(64),
    },
    whatsappRegister: {
      required,
      numeric,
      minLength: minLength(11),
      maxLength: maxLength(11),
    },
    telegramRegister: {
      required,
      maxLength: maxLength(35),
    },
  },
  methods: {
    showModal(id){
      const modal = document.getElementById(id);
      modal.classList.toggle('is-active');
    },
    removeModal(id){
      const modal = document.getElementById(id);
      modal.classList.remove('is-active');
    },
    showMenuMobile(){
      const menuLinksMobile = document.getElementById('navbarLinks');
      const iconBurguer = document.getElementById('iconBurguerMobile');
      menuLinksMobile.classList.toggle('is-active');
      iconBurguer.classList.toggle('is-active');
    },
    onRegisterSubmit() {
      this.$v.firstNameRegister.$touch();
      this.$v.secondNameRegister.$touch();
      this.$v.emailRegister.$touch();
      this.$v.passwordRegister.$touch();
      this.$v.rePasswordRegister.$touch();
      this.$v.whatsappRegister.$touch();
      this.$v.telegramRegister.$touch();
      if (
        this.$v.firstNameRegister.$invalid || this.$v.secondNameRegister.$invalid
        || this.$v.emailRegister.$invalid || this.$v.passwordRegister.$invalid
        || this.$v.rePasswordRegister.$invalid || this.$v.whatsappRegister.$invalid
        || this.$v.telegramRegister.$invalid
      ) {
        this.submitStatusRegister = 'ERROR';
      } else {
        const data = JSON.stringify({
          firstName: xss(this.$v.firstNameRegister.$model),
          secondName: xss(this.$v.secondNameRegister.$model),
          email: xss(this.$v.emailRegister.$model.toLowerCase()),
          password: xss(this.$v.rePasswordRegister.$model),
          whatsapp: xss(this.$v.whatsappRegister.$model),
          telegram: xss(this.$v.telegramRegister.$model),
        });
        this.$store.dispatch('register', data).then((res) => {
          if (res.isUserCreated === false) {
            this.registerMessageHandler = false;
            this.registerMessage = res.message;
          } else {
            this.registerMessageHandler = true;
            this.registerMessage = res.message;
            this.$v.firstNameRegister.$model = ''
            this.$v.secondNameRegister.$model = ''
            this.$v.emailRegister.$model = ''
            this.$v.rePasswordRegister.$model = ''
            this.$v.whatsappRegister.$model = ''
            this.$v.telegramRegister.$model = ''
          }
        });
      }
    },
  },
  mounted(){
    const data = JSON.stringify({ref: 'configs', sref: 'supportLinkContact'});
    this.$store.dispatch('getConfig', data).then( (res) => {
      this.supportContact = res.data.value;
    });
  }
}
</script>

<style lang="scss" scoped>
  @import '../assets/css/buttons.scss';
  #fieldForm {
    width: 100%;
  }
  .navbar-item img {
    max-height: 3.75rem;
  }
  .navbar {
    background-color: #000000;
  }
  .navbar-menu {
    background-color: #000000;
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 769px) {
    .modal-card {
      width: 70%;
    }
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 1024px) {
    .modal-card {
      width: 60%;
    }
  }

  /* X-Large devices (large desktops, 1200px and up) */
  @media (min-width: 1216px) {
    .modal-card {
      width: 50%;
    }
  }

  /* XX-Large devices (larger desktops, 1400px and up) */
  @media (min-width: 1408px) {
    .modal-card {
      width: 40%;
    }
  }
</style>