<template>
  <div id="main">
    <router-view/>
  </div>
</template>

<style lang="scss">
  @font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Regular.ttf'),
        url('./assets/fonts/Poppins-Medium.ttf');
  }
  #main {
    font-family:'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  .scrollable-element {
    scrollbar-color: dark;
  }
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
</style>
